@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    height: 90vh;
    width: 100%;
    background-color: rgba(116, 139, 206, 0.864);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#container{
    height: 70vh;
    width: 90%;
    background-color: rgba(116, 139, 206, 0.864); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px; 

}

#left-side{
    height: 70vh;
    width: 30%;
    align-items: center;
    display: flex;
}

#left-inside{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 300px;
    margin-bottom: 8rem;
}

#left-inside p{
    height: 40px;
    width: 400px;
    margin-bottom: 70px;
    font-size: 20px;
    line-height: 30px;
    opacity: 0.7;
    letter-spacing: 1.8px;
}

#left-inside h1{
    margin-bottom: 60px;
    opacity: 0.7;
    letter-spacing: 1.8px;
}

#right-side{
    height: 70vh;
    width: 60%;
    align-items: center;
    display: flex;
    margin-left: 5.5rem;
    margin-top: 2rem;
}

#right-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 132px;
    margin-top: 1rem;
}

#right-inside h1{
    opacity: 0.7;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 40px;
    margin-top: 50px; 
}

#height{
    padding: 20px;
    margin: 15px;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    border: 2px solid #fdfbfb;
    background-color: #fdfbfb;
    color: #433b3bdb;
    outline: #fdfbfb;
}

#weight {
    padding: 20px;
    margin: 15px;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    border: 2px solid #fdfbfb;
    background-color: #fdfbfb;
    color: #433b3bdb;
    outline: #fdfbfb;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

#button {
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    height: 45px;
    width: 120px;
    border: 2px solid #fdfbfb;
    background-color: #fdfbfb;
    color: #433b3bdb;
    outline: #fdfbfb;
    border-radius: 10px;
}

#dashboard {
    margin: 20px;
    font-size: 20px;
    height: 30px;
    width: 500px;
    padding: 50px;
    border-radius: 5px;
    border: 2px solid #fdfbfb;
    background-color: #fdfbfb;
    color: #433b3bdb;
    outline: #fdfbfb;
    text-transform: capitalize;
}



@media screen and (max-width: 1146px) {
    #container{
        background-color: transparent;
        height: 100vh;
       width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #left-side{
        
        width: 100%;
        margin-top:60px ;
        margin-left: 50px;
    }

    #right-side{
       margin-top: 4.5rem;
       width: 100%;
       margin-right: 2rem;
    }
    #right-side h1{
        /* margin-top: 4.5rem; */
        width: 100%;
        margin-left: 2.125rem;
        font-size: 1.7rem;
        margin-top: 12rem;
     }
    .input{
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 2rem;
       margin-top: 4rem;
    }
    #height, #weight{
        width: 80%;
        max-width: 18.75rem;
        height: 4rem;
        width: 16rem;
    }

    #dashboard{
        width: 80%;
        max-width:20.75rem;
        padding: 2rem;
        width: 27rem;
    }

    #left-inside p{
        letter-spacing: 0.25rem;
        margin-left: -1rem;
        font-size: 1rem;
        line-height: 1.9em;
        margin-bottom: 3rem;
        font-weight: bold;
    }
        #left-inside h1{
            margin-left: 1rem; 
            font-size: 1.7rem;
            margin-bottom: 2rem;
            margin-top: 4rem;
           
        }
    
}



